.button {
  background: $buttons-background;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 $shadow-color,
          0 3px 1px -2px $shadow-color,
          0 1px 5px 0 $shadow-color;
  display: inline-block;
  margin: 5px 0;
  padding: 5px 20px;
  text-decoration: none;
  transform: background .3s;

  &:focus {
    background: $buttons-background-focus;
  }
}
