// Footer
// ___________________________________________________

.footer {
  height: $footer-height;
  background: $footer-background;
}

.footer__content {
  line-height: $footer-height;
  margin: 0 15px;
  text-align: right;
  font-size: 0.9em;
  color: lighten($base-color, 50%)
}

.footer__link {
  color: inherit;
  text-decoration: none;
  transform: color 0.3s;

  &:hover {
    color: lighten($base-color, 40%)
  }
}
