.footer {
  background: $footer-background;
  height: $footer-height;

  &__content {
    color: lighten($base-color, 50%);
    font-size: .9em;
    line-height: $footer-height;
    margin: 0 15px;
    text-align: right;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    transform: color .3s;

    &:hover {
      color: lighten($base-color, 40%);
    }
  }
}
