// Scaffolding
// ___________________________________________________

html {
  background: #EFEFEF;
  font-size: $font-size-base;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $base-color;
  font-family: $font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a {
  transition: color 0.3s ease-in-out 0s;
  color: $link-color;
  text-decoration: underline;

  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0px;
  border-top: 1px dashed #555;
  margin: 40px 0 30px;
}

// https://gist.github.com/unruthless/413930
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
